<div class="post container">
  <div>
    <h2>{{blogPost.title}}</h2>
    <h3>by {{blogPost.user.username}}</h3>
    <p>{{blogPost.content}}</p>
  </div>
</div>

<div>
  {{#isEqual blogPost.user_id  logged_in.user.id}}
    <form class="delete-form">
      <button class="delete-post-btn" type="submit"></button>
    </form>
  {{/isEqual}}
</div>


<div class="comment-section">
  {{#if blogPost.comments.length}}
    <h3>Comments</h3>
    {{#each blogPost.comments as |comment|}}
      <div class="comment">
        <h4>{{comment.user.username}}</h4>
        <p>{{comment.comment_text}}</p>
      </div>
    {{/each}}
  {{/if}}

  {{#if logged_in}}
    <form class="comment-form">
      <textarea name="comment_text" maxlength="300" placeholder="Leave a comment..."></textarea>
      <button type="submit"></button>
    </form>
  {{else}}
    <p><a href="/login"></a>Login to leave a comment</p>
  {{/if}}

</div>

<script src="./js/comment.js"></script>