
{{#if user.blogposts.length}}
  <h1>Blog Posts By {{user.username}}</h1>
  {{#each user.blogposts as |blogpost|}}
    <div class="row m-2">
      <div>
        <h2><a id="blogpostTitle" href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h2>
      </div>
      <div>
        <p>{{blogpost.content}}</p>
      </div>
    </div>
  {{/each}} 
{{else}}
    
{{/if}}

<a class="link" href="/blogpost_input">Create New</a>
